#snakeGameCanvas{
    background-color: black;
    
    
    
    border: 2px solid red;
}

@media only screen and (max-width: 600px) {
    
  }



#snakeGameRestartButton{
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    right:30px;
  color:white;
    top:10px;
}